
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--grey-bg);
  }
  
  .loginBox {
    background: var(--light-bg);
    padding: 3rem;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-xl);
    width: 100%;
    max-width: 450px;
    text-align: center;
  }
  
  .title {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    color: var(--text-color-light);
    margin-bottom: 2rem;
  }
  
  .errorMessage {
    background-color: #ffebee; /* Red background */
    color: #c62828; /* Dark red text */
    padding: 1rem;
    border-radius: var(--border-radius);
    margin-bottom: 1.5rem;
    border: 1px solid #ef9a9a; /* Light red border */
  }
  
  .inputGroup {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--dark-text);
  }
  
  .inputGroup input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
  }
  
  .passwordWrapper {
    position: relative;
  }
  
  .passwordWrapper input {
    padding-right: 3rem; /* Espaço para o ícone */
  }
  
  .eyeIcon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-color-light);
  }
  
  .loginButton {
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--light-text);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: var(--secondary-color);
  }
  
  .loginButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .demoButton {
    margin-top: 1rem;
    background-color: var(--secondary-color);
  }
